*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}


header{
    background-image: url(../img/img2.png);
    height: 100vh;
    background-size:cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

header::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.title{
    position: absolute;
    top: 25%;
    left:10%;

}

.title h1{
    font-size: 70px;
    color: azure;
}

@media(max-width:768px){
    .title h1{
       font-size: 30px;
    }
}

/* button */

.button{
    position: absolute;
    top: 70%;
    left:10%;    
}

.button a {
    border:1px solid green;
    padding: 5px;
    text-decoration: none;
    display: inline;
    color: white;
}

.button a.start{
    background-color: yellow;
}

@media (max-width:768px){
   .button{
    margin: 50px;
   }
}
/* button */

h3 a{
    text-decoration: none;
}
/**
* Get started Button *
*/
.start-btn {
    margin-left: 25px;
    color: #fff;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
  }
  

  @media (max-width: 768px) {
    .appointment-btn {
      margin: 0 15px 0 0;
      padding: 6px 18px;
    }
  }

/* navbar */

#navbar {
    padding: 20px;
    color: honeydew;
  }
  
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
.navbar li {
    position: relative;
  }

  
.navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: rgb(240, 247, 155);
  }

/* card */

#card{
    position: relative;
    top: -50px;
    z-index: -0.5;
}

  .card-inner {
    padding:20px ;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 2s;
    box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-inner i {
    color: rgb(14, 253, 74);
    font-size: 50px;
}

.card-inner:hover {
    transform: scale(1.1)
}


  /* about */
  .about{
      background-color: rgb(245, 245, 245);
  }

  .about .icon-boxes h4 {
    font-size: 18px;
    color: #4b7dab;
    margin-bottom: 15px;
  }
  
  .about .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #2c4964;
    margin-bottom: 15px;
  }
  
  .about .icon-box {
    margin-top: 40px;
  }
  
  .about .icon-box .icon {
    float: left;
    align-items: center;
  }
  
  .about .icon-box .icon i {
    color: rgb(14, 253, 74);
    font-size: 32px;
  }
  

  .about .icon-box .name{
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
  }
    

  
  /* footer */
  footer{
      background-color: rgb(32, 32, 29);
      padding: 30px;
  }

 .row ul a{
     text-decoration: none;
 }


